<div class="container mt-3 mb-3">
    <mat-card>
    <form [formGroup]="customerForm" (ngSubmit)="addCustomer()">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Name" formControlName="name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Email" formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mobile</mat-label>
        <input matInput placeholder="Enter Mobile" formControlName="mobile">
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput placeholder="Enter City" formControlName="city">
        <mat-icon matSuffix>room</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" *ngIf="showAdd" (click)="addCustomer()">Save</button><span class="button-space"></span>
      <button mat-raised-button color="primary" *ngIf="showUpdate" (click)="updateCustomerDetails()">Update</button><span class="button-space"></span>
      <button mat-raised-button color="warn" (click)="closePopUp()">Cancel</button>
</form>
</mat-card>
</div>

